$color-voile : #4051b5;


.tooltip {
    position: relative;
    display: flex;
    width: auto;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    top: 100%;
    width: auto;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: hidden;
  }


.edu-root{
    align-items: center;
    background-color: white;
   
   
    .edu-header{
        display: flex;
        justify-content: center;
        background-color: gainsboro;
        h1{
            color: $color-voile;
        }
    }

    .edu-menu{
        margin-top: 0rem;
        display: flex;
        flex-wrap: wrap;
        background-color: gainsboro;
       
       
        li{
            text-align: center;
           
            flex : 1 ;
            list-style: none;
            padding: 1rem;
            font-size: 2rem;
            .active {
                color: orangered;
                .tooltip .tooltiptext {
                    visibility: hidden;
                  }
            }


            a{
                text-decoration: none;
                &:hover{
                    color: orangered;
                   
                }
               
            }
           

           
        }
    }

}



.data-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    .CharCard{
        flex:1;
        padding: 2rem;
        margin: 0.3rem;
        border: dashed thin;
        font-size: 3rem;
        text-align: center;
        text-decoration: none;
        background-color: white;
        border-radius: 1rem;
     
        &:hover{
            border-color: red;
            color: red;
        }

        &:active{
                border-color: red;
                color: red;
                
        }

        ul{
            
            list-style: decimal;
            li{
                :hover{
                    color: black;
                }
            }
        }
    }

        .MCQCard{
            flex:1;
            padding: 2rem;
            margin: 0.3rem;
            border: dashed thin;
            font-size: 3rem;
            text-align: center;
            text-decoration: none;
            background-color: white;
            border-radius: 1rem;
            min-width: 30%;
    
            .question{
             border : 1px solid $color-voile;
            }
            ul{     
                list-style: decimal;
                text-align: center;
                li{
                    &:hover{
                    
                        border: 1px red dashed;
                    }
                }

                .wrongAns{
                    background-color: red;
                }

                .correctAns{
                    background-color: green;
                }
            }
    
    
        }
}

@media(max-width:600px){
    .data-grid{
        .CharCard{
            flex: 1 1 30%;
        }
        .MCQCard{
            flex : 1 1 40%;
           
        }
    }  
}

@media(max-width:400px){
    .data-grid{
        .CharCard{
            flex: 1 1 40%;
        }
        .MCQCard{
            flex : 1 1 100%;
        }
    }  
}

