
 .myBody{
 background-color: white;
}

 .myBody img {
    width: 100%;
}


 h2 {
    padding: 1em;
   font-size: 1.5rem;
   color: #212614;
}

 .column{
    color :black;
    display: flex;
    justify-content: space-between;
}


 .col {  
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-color: whitesmoke;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55)
}

 .col-bg {
    background-color: #c4c5bf;
    margin-bottom: 1em;
}

 .col-1 {
    width: 28%;
}

 .col-2 {
    width: 50%;

}

 .col-3 {
    width: 75%;
}

 .dialog {
   display: flex;
   justify-content: center;
    width: 90%;
    height: 100%;
    z-index: 1000;
}

 .grid-container {
    display: flex;
    justify-content: space-between;
   
  }

 .dialog-close-btn {
    height: 2em;
    width: 2em;  
    line-height: 2em;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(238, 25, 10);
    color: white;
    text-align: center;
    cursor: pointer;
  }
 

@media (max-width:600px){
     .column{
        color :black;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

     .col-1 ,
     .col-2 ,
     .col-3 {
        width: 85%;
    }
}
