$red-button-color: rgb(224, 15, 102);

.training-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
  text-align: center;
  margin:0;
  padding-bottom: 1rem;

  h2{
   padding: 1; 
   margin: 0;
  }

  button{
    padding: 0.5rem;
    background-color: rgb(178, 178, 196);;

  }
}

.add-emp-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: gainsboro;
  padding: 2rem;
  padding-bottom: 2rem;

  .form-field{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;

    label{
      padding: 0.5rem;
    }
    input{
      padding: 0.5rem;
      text-align: center;
    }


  }

  h2{
   padding: 1; 
   margin: 0;
  }

  button{
    padding: 0.5rem;
    background-color: rgb(178, 178, 196);;

  }
}

  
  .table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    padding: 1rem;

      th {
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
      }
    
      tr:nth-child(even){background-color: #f2f2f2;}
      
      tr:hover {background-color: #ddd;}
    
      td{
      border: 1px solid #ddd;
      padding: 8px;
      }

      button{
        padding: 0.5rem;
        background-color:$red-button-color;
    
      }

      input{
        text-align: center;
      }
  }

  
  
 
  
