
body{
  margin: 0px;
}

html {
  font-size: 15px;
}

.App{
  font-size: 1rem;
  width: 100%;
  background-color: black;
}

.myNavBar{
  padding: 1em ;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.App-header {
  background-color:black;
  padding-top: 0.2em;
  display: flex;
  font-size: 2rem;
  color: white;
}

.tagline {
  color: gray;
  display: flex;
  justify-content: center;
}

.App-header span {
  color: red;
}

.myNavBar ul {  
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  background-color: black;

}

.myNavBar li {
  padding: 0.5em 1em;
  font-size: small;
  list-style-type: none;

}

.myNavBar li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.myNavBar li a:hover {
  color: gray;
}

.myFooter{
  position:fixed;
  bottom:0;
  width : 100%;
  display: flex;
  padding: 1em;
  background-color:black;
  color:  white;
  font-size: 0.7rem;
}

@media (max-width:600px) {
  .myNavBar{
    width: 100%;;
    padding: 1em ;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .App-header {
    padding-top: 0.2em;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
  }

  .myNavBar ul {  
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  
  }
}